@model IEnumerable<Contactos>
@{ ViewData["Title"] = "Home Page"; }

<div class="float-right">
    <i class=" fas fa-shopping-cart" style="color: #1861ac"></i><span class="badge badge-primary" id="cantEnCarrito">0</span>
</div>

<div class="text-center">
    <h1 class="display-4">Bienvenidos a mi Super Agenda</h1>
</div>

<a href="/Home/Agregar" class="btn btn-primary">Agregar</a>
<button type="button" class="btn btn-success btnMensaje">Presioname</button>
<button type="button" class="btn btn-success">Presioname otra vez</button>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>TelefonoMovil</th>
            <th>TelefonoCasa</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
        <tr>
            <td>@item.TipoContacto</td>
            <td>@item.Nombres</td>
            <td>@item.Apellidos</td>
            <td>@item.TelefonoMovil</td>
            <td>@item.TelefonoCasa</td>
            <td class="text-center">
                <a href="/Home/Detalle/@item.Id" class="btn btn-secondary">Detalle</a>
                <a href="/Home/Modificar/@item.Id" class="btn btn-warning">Modificar</a>
                <a href="/Home/Eliminar/@item.Id" class="btn btn-danger">Eliminar</a>
                <button type="button" class="btn btn-primary btn-agregar-carrito"><i class="fas fa-plus"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts {

<script type="text/javascript">

    $(document).ready(function () {

        $('.btn-agregar-carrito').click(function () {

            $.post('/Home/AgregarAlCarrito/', {}, function (respuesta) {
                if (respuesta.result === true) {

                    var badgeCarrito = $('#cantEnCarrito');

                    var cantidad = parseInt(badgeCarrito.text());
                    cantidad++
                    badgeCarrito.text(cantidad);
                }
            });
        });
 

        $('.btMensaje').click(function () {
            alert(fnGetMensaje());
        });
    });

    var smsg
</script>

}