@model SuperAgenda1.Models.Contactos
@{ 
}

<div class="container">
    <form method="Post" action="/Home/Modificar" class="Form-horizontal">
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <div class="form-group">
            <label class="col-2">Nombres</label>
            <div class="col-lg-4">
                <input type="text" name="Nombres" class="form-control" value="@Model.Nombres" />
            </div>
            <label class="col-2">Apellidos</label>
            <div class="col-lg-4">
                <input type="text" name="Apellidos" class="form-control" value="@Model.Apellidos" />
            </div>
            <label class="col-2">TelefonoCasa</label>
            <div class="col-lg-4">
                <input type="text" name="FechaNacimiento" class="form-control" value="@Model.TelefonoCasa" />
            </div>
            <label class="col-2">Movil</label>
            <div class="col-lg-4">
                <input type="text" name="TelefonoMovil" class="form-control" value="@Model.TelefonoMovil" />
            </div>
        </div>
        <button type="submit" class="btn btn-success"> Guardar contacto </button>
    </form>
</div>